.App {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.crd {
    width: 500px;
    height: 50px;
    background-color: rgb(84, 231, 103);
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    margin-top: 5px;
}
